<section id="title">
    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-lg navbar-light">

            <a class="navbar-brand" href="#cardShowCase">  ARCHIVE </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Contents
                        </a>
                         <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/science">Science</a></li>
                          <li><a class="dropdown-item" href="/culture">Culture</a></li>
                          <li><a class="dropdown-item" href="/art">Art</a></li>
                          <li><a class="dropdown-item" href="/reviews">Reviews</a></li>
                          <li><a class="dropdown-item" href="/works">Works</a></li>
                          <li><a class="dropdown-item" href="/recent">Recent</a></li>
                         
                        </ul>
                      </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/history">History</a>
                    </li> -->
                    
                    
                </ul>

            </div>

        </nav>

        <div class="row row-title">

            <div class="col-lg-6 title-col-6">

                <h1 class="welcome_message">Welcome, what would you like to read?</h1>
                <!-- <button type="button" class="btn btn-outline-purple btn-lg btn-col-6">
                    <a class="nav-link" href="/newspaper"><i class="fa-solid fa-newspaper"></i> Newspaper Of This Month</a>  
                </button> -->

            </div>

            <div class="col-lg-6 img-col">

                <img class="welcome_png" src="sources/archive/wyltr.png" alt="">

            </div> 

        </div>

    </div>

</section>