<%- include("partials/header.ejs") %>
<title>Archive</title>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/archive.css">
<%- include("partials/archive-header.ejs") %>    

    <section id="cardID">
        <div class="card-group">
            
          <div class="card box">
            
            <div id="science" class="card-body rounded-start">
              <div class="circle">
                <i class="fa-solid fa-robot centered-icon"></i>
              </div>
              
                <h5 class="card-title">SCIENCE</h5>
                <p class="card-text">Güneşin doğup, yıldızların battığı bu evrende bilimsiz kalmak ne sabah güneşi hissetmeye, ne de gece yıldızları fark etmemeye benziyor. Ben de hayat yolculuğumda ışıksız kalmamak için bilimi hayatımdan eksik etmiyorum.
                    Yazılım, matematik, fizik, teknoloji alanlarında okuyup paylaşımlar yapıyorum. Biraz olsun ışık saçmak için de bunları aktarmaya çalışıyorum. Sakın gözüne perde çekip hayatını karanlık odalara gömenlerden olmayın. Işığı arayın.
                </p>
                <a href="#">
                    <div class="studio-button">
                        <div class="studio-button-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                        </div>
                        <div class="studio-button-label">
                            
                          Visit
                        
                        </div>
                      </div>
                    </a>
                
                
            </div>
            
            
            
          </div>
          
       
          
          <div class="card box">
              
            <div id="culture" class="card-body">
               <div class="circle">
                <i class="fa-solid fa-masks-theater centered-icon "></i>
              </div>
              <h5 class="card-title">CULTURE</h5>
              <p class="card-text">Don Kişot'un atı mıydı sopa olan, yoksa kader miydi o sopayı elinde tutturan? Plato'nun mağarasından çıkamayanlar ne yapıyor şimdi? Sudan mı içeriz dalgadan mı? Yoksa sinemadan çıkan insan tribinde miyiz hepimiz? Film, müzik, edebiyat, ve nicelerine dair okumalarımı ve entelektüel dedikoduları paylaşıyorum burada. Hadi ben ne görüyorsam onu anlatıyorum? Senin baktığını görmeye cesaretin var mı?</p>
             
              <a href="#">
                <div class="studio-button">
                    <div class="studio-button-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                    </div>
                    <div class="studio-button-label">
                       
                      Visit 
                    </div>
                  </div>
                </a>
            </div>
            
          </div>
          
          
          <div class="card box">
          
            <div id="art" class="card-body rounded-end">
               <div class="circle">
                <i class="fa-solid fa-guitar centered-icon"></i>
              </div>
              
              <h5 class="card-title"> ART </h5>
              <p class="card-text">Bir elin dokunduğu tel. İki narin sesin tınlamasıyla gelen uyku. Ne güzelse ve güzellik içinse ben de onu bulmaya çalışıyorum müzikte. Yalnız ben ne bir sanatçı değilim ne de bir sanatçı olma endişesi içerisinde. Sadece sanatı anımsatacak birkaç şey üretiyorum. </p>
              <a href="">
                <div class="studio-button">
                    <div class="studio-button-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg>
                    </div>
                    <div class="studio-button-label">
                        
                      Visit
                    </div>
                  </div>
                </a>
            </div>
            
          </div>
        </div>
    
          </section>

    <section id="cardShowCase">
        <div class="container-fluid">
            <div class="row">
                <h1 class="header-row"><i class="fa-regular fa-clock"></i>Recent</h2>
                <!--Category
                <div class="btn-group category-buttons control-section" role="group" aria-label="Vertical radio toggle button group">
                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                    <label id="Recent" class="btn btn-outline-warning" for="vbtn-radio1">
                        <i class="fa-regular fa-clock"></i>
                        Recent</label>
                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                    <label id="News" class="btn btn-outline-warning" for="vbtn-radio2">
                        <i class="fa-solid fa-radio"></i>
                        News</label>
                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                    <label id="Reviews" class="btn btn-outline-warning" for="vbtn-radio3">
                        <i class="fa-solid fa-glasses"></i>
                        Reviews</label>
                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
                    <label id="Works" class="btn btn-outline-warning" for="vbtn-radio4">
                        <i class="fa-solid fa-gear"></i>
                        Works</label>

                </div>-->
            </div>

            <section id="cards-section">
                <div class="row cardsRow">

                    <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Dice Game!</h5>
                              <p>Arkadaşını al, zar atmaya başla. Yüksek atan kazanır. 1 atarsan yok edilirsin. 20 atarsan kalkanın olur.</p>
                              <a href="/dicee" class="stretched-link"></a>
                            </div>
                          </div>
                    </div>
                    <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Calculator</h5>
                              <p>Ufak bir hesap makinesi denemesi, ama denemekten ne zarar gelir ki?</p>
                              <a href="/calculator" class="stretched-link"></a>
                            </div>
                          </div>
                          
                    </div>
                    <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Drum Kit</h5>
                              <p>Hadi oynayın şimdi bizimle!</p>
                              <a href="/drumKit" class="stretched-link"></a>
                            </div>
                          </div>
                    </div>
                    <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Simon Game!</h5>
                              <p>Hafızanı test et!</p>
                              <a href="/theSimonGame" class="stretched-link"></a>
                            </div>
                          </div>
                    </div>
                    <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Alexandria Library</h5>
                              <p>İskenderiyenin tozlu ve küllü raflarına bir göz at!</p>
                              <a href="/library" class="stretched-link"></a>
                            </div>
                          </div>
                    </div>
                    <!-- <div id class="col-cards work review">
                        <div class="row no-gutters bg-light position-relative">
                            <div class="col-md-3 mb-md-0 p-md-4">
                              <img src="sources/archive/slide.png" class="w-100" alt="...">
                            </div>
                            <div class="col-md-9 position-static p-4 pl-md-0">
                              <h5 class="mt-0">Qr Creator</h5>
                              <p>Enter a URL and get the qr.</p>
                              <a href="/qrGenerator" class="stretched-link"></a>
                            </div>
                          </div>
                    </div> -->
                    
                </div>
            </section>
            
                   
           
            

        </div>
    </section>

    <section id="testimonial-section">

        <div class="container-fluid">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                
                <div class="carousel-inner">
                    <h2>COVERS</h3>
                    <div class="carousel-item active">
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/H9H33nEkSkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        
                    </div>

                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YbBqFoEVIFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YV6VG957lCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="carousel-item">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/K0aWKBWsZI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0SRJQeB-zA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <i class="fa-sharp fa-solid fa-angle-right fa-flip-horizontal fa-2xl skip-button"></i>
                <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <i class="fa-sharp fa-solid fa-angle-right fa-2xl skip-button"></i>
                <span class="visually-hidden">Next</span>
                </button>

            </div>

        </div>

    </section>
<!--

    <section id="feedback">

        <div class="container-fluid">
            <h1 class="welcome_message">did you like it?</h1>
            <button type="button" class="btn btn-warning">
                <a class="nav-link last-nav-link" href="index.html"><i class="fa-solid fa-newspaper"></i> Newspaper Of This Month</a>  
            </button>
            <button type="button" class="btn btn-warning">
                <a class="nav-link last-nav-link" href="index.html"><i class="fa-solid fa-newspaper"></i> Newspaper Of This Month</a>  
            </button>
        </div>

    </section>
-->
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="archive.js"></script>
<%- include("partials/footer.ejs") %>