

<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="css/main.css">


	
	<div class="page">

    <nav id="colorlib-main-nav" role="navigation">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
      <div class="js-fullheight colorlib-table">
        <div class="img" style="background-image: url(sources/image/logo.jpg);"></div>
        <div class="colorlib-table-cell js-fullheight">
          <div class="row no-gutters">
            <div class="col-md-12 text-center">
              <h1 class="mb-4"><a href="/" class="logo">Guzar's</a></h1>
              <ul>
                <li class="active"><a href="/"><span>Home</span></a></li>
                <!-- <li><a href="/newspaper"><span>Newspaper</span></a></li> -->
                <li><a href="/archive"><span>Archive</span></a></li>
                <li><a href="/blogsite"><span>Blog</span></a></li>
                <li><a href="/about-me"><span>About</span></a></li>
                <li><a href="/cv"><span>Contact</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div id="colorlib-page">
      <header>
      	<div class="container">
	        <div class="colorlib-navbar-brand">
	          <a class="colorlib-logo" href="/"><img class="" src=""></a>
	        </div>
	        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        </div>
      </header>

      

      <section class="hero-wrap js-fullheight">
	      <div class="container px-0">
	        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-12 ftco-animate text-center">
	          	<div class="desc">
		            <h1>Guzar's</h1>
		            <h3>Welcome.</h3>
                <!-- TODO: Fill below to express website-->
                <p> Click below to see most recent posts.</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>

    </div>
  </div>

	<script src="js/bootstrap/jquery.min.js"></script>
  <script src="js/bootstrap/popper.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/main.js"></script>



  <%- include("partials/footer.ejs") %>


