/* FOOTER */
#Copyright .container-fluid {
    text-align: center;
    background-color: #DBE2EF;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer-end {
    padding-top: 2%;
    color: #000;
}
/* ENDS */