<link rel="stylesheet" href="css/projects/blog/main.css">
<section id="#title">
    <div class="main-page">
        <h1>Günce</h1>
        <img class="main-img-face" src="/sources/projects/blog/images/guzar-face.png" alt="">

        <div class="welcome-message">
            <p class="intro">Selim gibi, günlük tutmaya başlayalım bakalım. Sonumuz hayırlı değil herhalde onun gibi. Bu bloğa bir hayli uğraştım. Artık ne Bilge ne de bir başkası olmadığına göre bu blog kaydetsin beni; dert ortağım olsun. "Kimseye söyleyemeden, içimde kaldı, kayboldu..." dediğim düşüncelerin, duyguların aynası olsun. Kimse dinlemiyorsa beni -ya da istediğim gibi dinlemiyorsa- günlük tutmaktan başka çare kalmıyor. Canım insanlar! Sonunda, bana bunu da yaptınız.</p>
            
        </div>

        
        

    

        
    </div>
</section>
<section id="parts">

    <div class="col-md-4">
        <img class="main-img-samurai" src="/sources/projects/blog/images/samurai.png" alt="">
    </div>
    <div class="col-md-8 parts">
        <div class="part-content col-md-12">

            <div class="col-md-3">
                <lottie-player src="https://lottie.host/ab8a28d9-b45b-4304-9f29-44f20ea4df53/Ccg2JftAan.json" background=“#ffffff” speed="1" style="width: 10vw; height: 10vw" direction="1" mode="normal" loop autoplay></lottie-player>
            </div>
            <div class="col-md-9">
                <h3 id="night-h">Gece</h3>
                <p class="part-text">Bir "gün" geceden başlar ve yine ona döner. İnsanın kendisinden yola çıkıp tüm serüvenlerinin sonucunda yine kendine dönmesi gibi. <br>
                    Olay gün içinde yani gündüzde yaşanır fakat acı gecededir, hüzün, keder, derin uykular, hazin rüyalar, hepsi bir masada toplanır dolunay altında. Bu kısımda "dolunay sohbetleri" var.</p>
            </div>
            
            
        </div>

        
        <div class="part-content col-md-12">
            <div class="col-md-3">
                <lottie-player src="https://lottie.host/de1a9296-f062-49e8-bd4c-1e9da1bace2a/zZZ5m94r7w.json" background=“#ffffff” speed="1" style="width: 10vw; height: 10vw" direction="1" mode="normal" loop autoplay></lottie-player>
            </div>
            <div class="col-md-9">
                <h3 id="day-h">Gündüz</h3>
                <p class="part-text">İşte her gün tekrar çalışmaya gittiğimiz "gün" bu. Güneş alırız büyümek ve daha çok üretmen için, biraz su, biraz besin; sonra açılır yaprakları bu umutlu günün. Ben de her arının yaptığı ve yapacağı gibi çiçek gezip bal üretiyorum. Dünyevi meşguliyetlerim bu bölüm altında. </p>
            </div>
            
        </div>

         <div class="part-content col-md-12">
            <div class="col-md-3">
                <lottie-player src="https://lottie.host/4a9f4fab-5940-43d3-a385-d73fa804335a/M8I14dpjoM.json" background=“#ffffff” speed="1" style="width: 10vw; height: 10vw" direction="1" mode="normal" loop autoplay></lottie-player>
            </div>
            <div class="col-md-9">
                <h3 id="guzar-h">Güzar</h3>
                <p class="part-text">Birçok şeyin keskin sınırları olduğunu düşünürüz. Gün, gece ve gündüzden ibarettir, bir madalyonun iki yüzü, iyi ve kötü, güzel ve çirkin...<br>
                    Halbuki hayat siyah ya da beyaz tuvalin üstüne yapılan çizimlerden ziyade, gri bir fırçanın darbeleriyle belirir. Güzar en basit haliyle bu gri çizgilerdir, insandır yani. Gündüz doğar, gece batabilir ama "güzar"da hem gece hem gündüz vardır.<br>
                    İnsana dair günlüklerim, bazı tespit ve tanımlama çalışmalar. İsmimi aldığım bu kelime ve ismimi vermeye çalışacağım çocuklarım yatıyor bu kısımda. </p>
            </div>
            
        </div>
    </div>

    <h2>Gündüz <br> Güzar</h2>
    <img class="main-img-leaves" src="/sources/projects/blogimages/leaves.png" alt="">
</section>




