<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    
    <!-- CSS STYLESHEET-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/projects/library-styles.css">
    
    <!-- GOOGLE FONTS -->
    
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/6408be3e54.js" crossorigin="anonymous"></script>


    <title>Login</title>
</head>
<body>
    
        
            
            <div class="row">
                <div class="col partA">

                    <div class="container headingCon">
                        <h1> Alexandria Library</h1>
                        <h3>Welcome.</h3>
                        <h5>Please sign in or create an account.</h5>
                        
                    </div>
                    
                    <div class="container login">
                        <h3>Sign In</h3>
                        
                        <h4>Username</h4>
            
                        <input type="text">
                        <br>
                        <h4>Password</h4>
                        <input type="password">
                        <br>
                        <button type="button" class="btn btn-outline-secondary">Sign In</button>
                    </div>
                    
                    
                    <div class="container headingCon">
                        <h2> Join Us! </h1>
                    </div>
                    <div class="container signup">
                        <h3>Create Account</h3>
                      
                        <h4>Username</h4>
                        <input type="text">
                        <br>
                       
                        <h4>Password</h4>
                        <input type="password">
                        <br>
                        <h4>E-Mail</h4>
                        <input type="email">
                        <br>
                        <button type="button" class="btn btn-outline-secondary">Sign Up</button>
                    </div>
                    

                
                </div>
                <div class="col partB">
                    <img src="sources/projects/libraryApp/images/library.jpg" class="img-fluid" alt="an library image">
                </div>
            </div>
            
        
        
    
    <script src="js/projects/library.js"></script>
</body>

</html>